@import '../styles/design-tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(var(--color-border));
  }
  body {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
